@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <form class="checkout-form" name="checkoutForm" method="POST" action="/Checkout" asp-antiforgery="true">
        <script type="text/javascript" src="https://cdn.omise.co/omise.js"
                data-key="pkey_test_"
                data-default-payment-method="credit_card"
                data-amount="2000"
                data-currency="thb"
                data-location="no"
                data-button-label="Pay">
        </script>
    </form>
</div>
